/* I have to figure out how to scale this appropiately */

@font-face { font-family: Sailec; src: url('../fonts/sailec.otf'); } 

body {
    margin: 0;
    background-color: #222120;
}

.left-small-screen {
    width: 350px; /* temporary */
    padding: 35px 50px; /* temporary */
    font-family: Sailec;
}

.background {
    background-color: #222120;
}

#name {
    font-size: 15px;
}

#interests {
    padding-bottom: 10px;
    border-bottom: 1px solid #6d767e; /* temporary */
    width: 70%;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, li, a {
    color: #6d767e;
    font-size: 14px;
    line-height: 1.5;
}

strong, .simple-link {
    font-weight: 400;
    color: #ccc7c5;
}

.simple-link {
    text-decoration: none;
    border-bottom: 1px solid rgba(204, 199, 197, 0);
    -webkit-transition: border 0.5s ease;
    -moz-transition: border 0.5s ease;
    -ms-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
    transition: border 0.5s ease; 
}

.simple-link:hover {
    border-bottom: 1px solid rgba(204, 199, 197, 1);
}

.left-small-screen-footer-icons a {
    padding-right: 7.5px;
}