@font-face { font-family: Sailec; src: url('../fonts/sailec.otf'); } 

body {
    margin: 0;
    background-color: #222120;
}

.left-small-screen {
    padding: 35px 50px;
    font-family: Sailec;
}

.background {
    background-color: #222120;
}

#name {
    font-size: 15px;
}

hr {
    border-color: #6d767e;
    width: 300px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, li {
    color: #6d767e;
    font-size: 14px;
    line-height: 1.5;
}

strong, .simple-link {
    font-weight: 400;
    color: #ccc7c5;
}

.simple-link {
    text-decoration: none;
    border-bottom: 1px solid rgba(204, 199, 197, 0);
    -webkit-transition: border 0.5s ease;
    -moz-transition: border 0.5s ease;
    -ms-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
    transition: border 0.5s ease; 
}

.simple-link:hover {
    border-bottom: 1px solid rgba(204, 199, 197, 1);
}